body{
    margin: 200px 0 200px 0;
    font-family: Arial, Helvetica, sans-serif;
    background:#84a98c;
}

/* for some reason i cannot center all content 
using the body selector thats why i created 
the #realBody selector*/
#realBody{
   display:flex;
   justify-content: center;
   align-items:center;
}
.photo{
    width: 150px;
}

.card{
    padding:20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #cad2c5;
    color:#2b2839 ;
    border-bottom: 5px solid #84a98c;
    border-radius: 2px;

}

.logo{
    margin: 0 5px 0 5px;
    width: 10%;
    border-radius: 7px;
}


#logos{
    justify-content: space-around;
}
